.header {
  font-family: 'DMSans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171718;
  width: 100%;
}

.header__container {
  max-width: 1300px;
  width: 100%;
  position: relative;
}

.header__up {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  border-bottom: 1px solid #26292d;
  width: 100%;
}

.header__logo {
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.header__load {
  position: absolute;
}
