.alice-carousel {
}
.carousel__image {
  display: flex;
  align-items: center;
  object-position: center;
  object-fit: contain;
  width: 100%;
  max-height: 800px;
}

.item {
  display: flex;
  justify-content: center;
}

.alice-carousel__prev-btn [data-area]::after {
  color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 15%;
  height: 100%;
}
.alice-carousel__next-btn [data-area]::after {
  color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  width: 15%;
  height: 100%;
}
