.alice-carousel {
}
.carousel__image {
  display: flex;
  align-items: center;
  object-position: center;
  object-fit: contain;
  width: 100%;
  max-height: 800px;
}

.item {
  display: flex;
  justify-content: center;
}
